---
---

// Variables
@import "utilities/variables";

// Utility styles
@import "utilities/mixins";
@import "utilities/utils";
@import "utilities/syntax-highlighting";
@import "utilities/animations";

// Core
@import "base/normalize";
@import "base/global";
@import "base/layout";
@import "base/typography";

// Components
@import "components/navigation";
@import "components/pagination";
@import "components/code";
@import "components/message";

// Pages
@import "pages/landing";
@import "pages/posts";

// $leadingColour: #1DDECB;
// $darkerBaseColour: #15a597;

.surname-letter {
    color:$leadingColour;
    font-weight:bold;
}

.profile-picture {
    border-left: $leadingColour solid 4px;
    border-bottom: $leadingColour solid 5px;
}

.card {
    background-color: #1E1E1E;
}

.card-title{
    color: #e1e1e1;
}

.card-img-top {
    border-radius: 20%;
    padding: 10px;
}


.card img {
    opacity: 0.9;
}

.btn-category{
    background: $leadingColour;
    display: inline-block;
    font-weight: bold;
}

.btn-certificate{
    background: #f1fffe;
    display: inline-block;
    font-weight: bold;
}

.btn-category:hover{
    background: $darkerBaseColour;
}

.item {
    color: $leadingColour;
    border: $leadingColour solid 1px;
    background: #1E1E1E;
    text-decoration: none;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin-top: 0.2rem;
    font-size: small;
}

.link_button {
    height: 100%;
    margin-bottom: 20px;
    // width: 100%;
    // margin: auto;
    position: relative;
    display: block;
    // margin-bottom: 10px;
}

.link_button a {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 0px;
}

.about-container {
    color: #e6e6ee;;
}


.about-container section h5 {
    color: #e6e6e6;
}

section {
    margin-bottom: 7vh;
    background: #1E1E1E;
    padding: 30px 0;
}

section div li {
    list-style: none;
}

section div li::before {
    color: $darkerBaseColour;
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 2em;
    margin-left: -2em;
}

.details i {
    color: #777777;
    font-style: normal;
}

.role {
    font-size: 14px;
    color: $darkerBaseColour;
}

.blog-article{
    background-color: #1E1E1E;
}

.white-btn {
    background-color: #212121;
    color: #e1e1e1;
    border-color: #e1e1e1;
    display: inline-block;
    font-weight: bold;
}

.white-btn:hover {
    color: #e1e1e1;
    background-color: #1E1E1E;
}

body {
    margin: 0;
}

article h1, article h2, article h3, article h4, article h5 {
    color: $leadingColour;
}

article b, article strong {
    background-color: $leadingColour;
}

.card a:hover {
    text-decoration-color: $leadingColour !important;
}

.btn:focus,
.btn:active{
    box-shadow:none !important;
    outline:0px !important;
}

#the-notes-were-based-on--this-course-by-andrew-ng->a:hover, 
.link-white-highlight:hover{
    color: #e1e1e1;
    text-decoration: none;
}

.latex-eq {
    border: #e1e1e136 2px solid;
    margin: 20px 0;
}

@media only screen and (min-width: 768px) {
    .latex-eq {
        overflow-x: auto;
    }
}

@media only screen and (max-width: 768px) {
    .latex-eq {
        overflow-x: scroll;
    }
}

// prettier scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
