---
layout: default
title: Home
---
<div class="page">

  <script type="text/javascript">
    function filterUsingCategory(selectedCategory) {

      let btns = document.getElementsByTagName('button');
        
      for (let i = 0; i < btns.length; i++) {
        let btn = btns[i];
        if (btn.id == selectedCategory) {
          btn.classList.add("btn-category");
          btn.classList.remove("white-btn");
        } else {
          btn.classList.remove("btn-category");
          btn.classList.add("white-btn");
        }
      }
      
      var id = 0;
      {% for post in site.categories.code %}
        var tags = {{ post.tags | jsonify }}
  
        var postDiv = document.getElementById("post-" + (++id));
        

        postDiv.style.display =
          (selectedCategory == 'All' || tags.includes(selectedCategory)) 
            ? 'flex' 
            : 'none';
      {% endfor %}
    }
  </script>
  
  
  <header>
    <h1 class="landing-title">Hello!</h1>
  </header>
  
  <div class="text-center">
    <p>
       Since you're already here, why don't you take a look at my projects?
    </p>
  <br/>
    <div>
      <button type="button" 
        id="All"
        class="btn btn-category text-uppercase rounded-pill"
        onclick="filterUsingCategory('All')">
          ALL
      </button>

      {% assign tagArray = '' | split: ',' %}
      {% for post in site.categories.code %}
      {% assign tags = post.tags | uniq %}
        {% for tag in tags %}
          {% assign tagArray = tagArray | push: tag %}
        {% endfor %}
      {% endfor %}

      {% assign uniqTags = tagArray | uniq %}

      {% for tag in uniqTags %}
        <button id="{{ tag }}" 
        onclick="filterUsingCategory(this.id)"
        class="btn white-btn text-uppercase rounded-pill">
          {{ tag }}
      </button>
      {% endfor %}
    </div>
  </div>
  <br/>
  <div class="row p-2">
    {% assign id = 0 %}
    {% for post in site.categories.code %}
    {% assign id = id | plus:1 %}
     <div class="card col-4" id="post-{{id}}" style="display:flex;">
        <img class="card-img-top" src="{{ site.baseurl }}/{{ post.image }}" alt="Card">
        <div class="card-block">
          <h5 class="card-title text-center text-uppercase">{{ post.title }}</h5>
          <p class="card-text text-center">{{ post.description }}</p>

          <div class="list-group list-group-horizontal">
          <ul>
          {% for tag in post.tags %}
          <li class="item">{{ tag }}</li>
          {% endfor %}
          </ul>
        </div>
        </div>
       
        <div class="card-body">
          <!-- <div class="link_button">
                <a href="{{ post.github }}" target="_blank">
                  <center>
                    <img class="img-fluid rounded mb-3 mb-md-0" src="{{ site.baseurl }}/images/github.png"  alt="GitHub" width="120" height="40">
                  </center>
                </a>
              </div> -->

              <div class="link_button">
                <a href="{{ post.github }}" target="_blank">
                  <center>
                    <button type="button" class="btn btn-certificate text-uppercase rounded-pill mr-2">
                      GitHub
                    </button>
                  </center>
                </a>
              </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
</div>

