/**
 * _landing.scss
 * Styles for the landing page
 */
 

.landing-title {
    color: $post-title-color;
    text-align: center;
    border-bottom: 1px solid $lightColour;
    padding-bottom: 0.7rem;
}
