---
layout: default
---
<div class="page">

  <script type="text/javascript">
    function filterUsingCategory(selectedCategory) {
      let btns = document.getElementsByTagName('button');
        
      for (let i = 0; i < btns.length; i++) {
        let btn = btns[i];
        if (btn.id == selectedCategory) {
          btn.classList.add("btn-category");
          btn.classList.remove("white-btn");
        } else {
          btn.classList.remove("btn-category");
          btn.classList.add("white-btn");
        }
      }
      
      var id = 0;
      {% for post in site.categories.blog %}
        var tags = {{ post.tags | jsonify }}

        var postDiv = document.getElementById("post-" + (++id));

        postDiv.style.display =
          (selectedCategory == 'All' || tags.includes(selectedCategory)) 
            ? 'flex' 
            : 'none';
      {% endfor %}
    }
  </script>


  <header>
    <h1 class="landing-title">My <span style="color: #e6e6e6;"> notes</span></h1>
  </header>
  
  <div class="text-center">
    <p>
      The notes I've been taking thorought my studies on different subjects.
   </p>
    <br/>
    <div>
      <button type="button" 
        id="All"
        class="btn btn-category text-uppercase rounded-pill"
        onclick="filterUsingCategory('All')">
          ALL
      </button>

      {% assign tagArray = '' | split: ',' %}
      {% for post in site.categories.blog %}
      {% assign tags = post.tags | uniq %}
        {% for tag in tags %}
          {% assign tagArray = tagArray | push: tag %}
        {% endfor %}
      {% endfor %}

      {% assign uniqTags = tagArray | uniq %}

      {% for tag in uniqTags %}
        <button id="{{ tag }}" 
        onclick="filterUsingCategory(this.id)"
        class="btn white-btn text-uppercase rounded-pill">
          {{ tag }}
        </button>
      {% endfor %}
    </div>
  </div>
  <br/>

  <div class="listing">
    {% assign id = 0 %}
    {% for post in site.categories.blog %}
    {% assign id = id | plus:1 %}
    <div class="col-12 blog-article" id="post-{{ id }}">
      
    <!-- ON SMALL DEVICES -->
    <div class=" d-none d-sm-block ">
      <div class="row">

        <div class="col-3">
          <img src="{{ site.baseurl }}/{{ post.image }}" 
                class="m-4"
                width="126" 
                height="126" 
                style="width: 126px; height: 126px; object-fit: cover;">
        </div>
  
        <div class="col-9">
          <div class="post other link">
            <h2></span> <a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="post-date">{{ post.date | date_to_string }}</p>
            {{ post.description }}
            <br>
            <br>
            {% for tag in post.tags %}
            <li class="item">{{ tag }}</li>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    

  <!-- ON MEDIUM-LARGE DEVICES -->
  <div class=" d-block d-sm-none mb-2">
    <div class="row">
      <div class="col-12">
        <center>
        <img src="{{ site.baseurl }}/{{ post.image }}" 
              class="m-4"
              width="126" 
              height="126" 
              style="width: 126px; height: 126px; object-fit: cover;">
        </center>
      </div>

      <div class="col-12">
        <div class="post other link">
          <h2></span> <a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p class="post-date">{{ post.date | date_to_string }}</p>
          {{ post.description }}
          <br>
          <br>
          {% for tag in post.tags %}
          <li class="item">{{ tag }}</li>
          {% endfor %}
        </div>
      </div>
      </div>
    </div>
    </div>
    {% endfor %}
</div>