---
layout: default
---


<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
</script>

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<article class="page">
    <header>
        <h1 class="landing-title">
            {% assign len_stop = page.title | number_of_words %}
            {% assign len_start = len_stop | divided_by: 2 %}
            {% assign title = page.title | split: " " %}


                
                {{ title | slice: 0, len_start | join: " " }}
            <span style="color: #e6e6e6;">
                {{ title | slice: len_start, len_stop | join: " " }}
            </span>
        </h1>
    </header>

  {{ content }}
</article>
